<div class='service-description'>
  <h1><span class='font-serif-sc'>memopic</span> の使い方</h1>
  <section>
    <div class='howto-steps'>
      <% @step_titles.zip(@step_img_filename).each.with_index(1) do |element, step| %>
        <div>
          <div class='howto-step-header step-header'>
            <div class='step-num'><%= step %></div>
            <h3><%= element.first %></h3>
          </div>
          <%= image_tag element.second %>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div class="my-10 text-center text-base md:text-2xl">
  <div class="top-links relative">
    <a href="/albums" class="button-use-memopic border rounded-full p-4 font-noto-sans-jp text-black">
      さっそく<span class="font-serif-sc">memopic</span> を使ってみる
    </a>
  </div>
</div>
