<div class="h-60vh bg-orange-gradation">
    <div>
        <%= link_to 'memopic', root_path, class: 'font-serif-sc text-5xl ml-4 md:ml-10 text-black' %>
    </div>
    <div class="text-center inline-block text-2xl md:text-5xl font-noto-sans-jp-bold catch-copy absolute">
        旅の思い出を<br>プレイリストで振り返ろう
    </div>
    <div class="inline-block text-xs md:text-lg font-noto-sans-jp description absolute">
        旅行中ドライブで聴いてた曲<br>
        あの時流行っていた、好きだった曲から<br>
        思い出を振り返ってみませんか？<br>
        <span class="font-serif-sc">memopic</span> はプレイリストで旅を記録する新しいサービスです
    </div>
    <picture>
        <source media="(max-width: 481px)" srcset="/assets/index_page_phone.webp">
        <img class="absolute index-page-preview" src="/assets/index_page_pc.webp">
    </picture>
</div>
<div class="mt-56 text-center text-2xl">
    <a href="/albums" class="button-use-memopic border rounded-full p-4 font-noto-sans-jp text-black">
        <span class="font-serif-sc">memopic</span> を使ってみる
    </a>
</div>
