<li id="comment-<%= comment.id %>" class="comments">
  <p class="commenter">山本浩平</p>
  <p><%= comment.content %></p>
  <% if comment?(comment, current_user) %>
    <%= link_to comment_path(id: comment.id),class: 'comment_delete', method: :delete, remote: true, data: { confirm: '削除してよろしいですか？' }  do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
  <p class="comment-date"><%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
</li>
