<div class='comment_content'>
  <% if picture.has_comments? %>
    <p>まだコメントがありません</p>
  <% else %>
    <%= render comments %>
  <% end %>
</div>
<div class='comment-form'>
  <%= form_with url: comments_path(picture_id: picture.id), remote: true do |f| %>
      <%= f.text_area :content, id: 'comment_form' %>
      <%= f.submit "送信" %>
  <% end %>
</div>
