<div class="card">
  <%= link_to album do %>
    <div class="thumbnail">
      <%= image_tag thumbpic.picture_name.url, class: 'thumbimg'%>
    </div>
    <span class="link"><%= album.name %></span>
  <% end %>
</div>
