// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p{
  margin: 0;
}
.button-new-album{
  width: 85%;
  display: inline-block;
  padding: 7px 20px;
  border: 1px;
  border-style: solid;
  border-color: orange;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  outline:0;
  margin-top: 10px;
  cursor: pointer;
  &:hover{
    background: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
  }
}
a.disabled{
  pointer-events: none;
}
.input-new-album-title{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 10px;
  font-size: 24px;
  border: none;
  border-bottom: 1px solid transparent;
  transition: .3s cubic-bezier(0.4,0,0.2,1) all;
}
.input-new-album-title:hover{
  border-bottom: 1px solid #dadec0;
}
.input-new-album-title:focus{
  outline: 0;
  border-bottom: 1px solid blue;
}
.input-new-playlist-link{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid transparent;
  transition: .3s cubic-bezier(0.4,0,0.2,1) all;
}
.input-new-playlist-link:hover{
  border-bottom: 1px solid #dadec0;
}
.input-new-playlist-link:focus{
  outline: 0;
  border-bottom: 1px solid blue;
}
.input-new-playlist-name{
  width: 100%;
  height: 40px;
  position: relative;
  bottom: 10px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid transparent;
  transition: .3s cubic-bezier(0.4,0,0.2,1) all;
}
.input-new-playlist-name:hover{
  border-bottom: 1px solid #dadec0;
}
.input-new-playlist-name:focus{
  outline: 0;
  border-bottom: 1px solid blue;
}
.button-submit{
  display: inline-block;
  border-radius: 5px;
  border: 0;
  color: white;
  height: 40px;
  width: 200px;
  font-size: 16px;
  background: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  cursor: pointer;
  &:disabled{
    opacity: 0.3;
    cursor: not-allowed;
  }
}
.button-playlist-submit{
  display: inline-block;
  border-radius: 5px;
  border: 0;
  color: white;
  height: 40px;
  width: 130px;
  font-size: 16px;
  background: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  &:disabled{
    opacity: 0.3;
    cursor: not-allowed;
  }
  margin: 0 !important;
}
.button-new-album{
  font-size: 18px;
}
.button-new-playlist{
  width: 70%;
  display: inline-block;
  padding: 7px 20px;
  border: 1px;
  border-style: solid;
  border-color: orange;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
  outline:0;
  margin-top: 10px;
  font-size: 16px;
  padding: 0 !important;
}
.pictures-wrapper{
  margin-top: 30px;
}
.btn-gradient-radius{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}
.btn-gradient-radius:hover{
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}
.btn-gradient-radius.disabled{
  background-image: none;
  background-color: white;
  color: orange;
  border: 1px;
  border-style: solid;
  border-color: orange;
}
.user-info{
  text-align: center;
}
.album_form{
  text-align: center;
}
.playlist_form{
  text-align: center;
}
.albums{
  text-align: center;
}
.card{
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px #ccc;
  height: 170px;
  text-align: center;
  margin: 20px 30px 30px 30px;
  position: relative;
}
.thumbnail{
  border-radius: 20px;
  background: #000;
  width: 100%;
}
.thumbimg{
  display: block;
  opacity: .8;
  width:100%;
  height:170px;
  border-radius:20px;
}
.link{
  font-size: 22px;
  position: absolute;
  color: white;
  text-decoration: none;
  display: block;
  bottom: 35px;
  left: 40px;
  margin:0;
  padding:0;
}
.line-it-button{
  margin-top: 10px;
}
.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show{
  opacity: 1;
  visibility: visible;
}
.popup-inner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
  max-width: 700px;
  padding: 10px;
  background-color: #ffffff;
  z-index: 2;
  overflow-y: scroll;
  img{
    width: 100%;
  }
}
.close-btn{
  i{
    font-size: 20px;
    color: #333;
  }
}
.popup-content{
  width: 100%;
  height: 100%;
}
.popup-action{
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  padding: 10px;
  margin-top: 20px;
}
.black-background{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}
.file-input{
  opacity: 0;
  width: 1px;
}
.file-label{
  cursor: pointer;
  border-width: 1px;
  padding-left: 20px;
  border-style: solid;
  border-radius: 10px;
  font-size: 50px;
  margin-right: 10px;
  i{
    font-size: 50px;
  }
  i.fa-plus-circle{
    position: relative;
    bottom: 8px;
    font-size: 30px;
  }
}
.right{
  text-align: right;
}
.form-new-album{
  display: none;
  padding: 10px 10%;
}
.form-new-playlist-link{
  display: none;
  padding: 10px 10%;
}
#album-title{
  display: inline;
}
#title{
  font-family: 'Roboto Condensed', sans-serif;
}
#album-name-input{
  margin-top: 10px;
}
#playlist-link-input{
  margin-top: 10px;
}
#playlist-name-input{
  margin-top: 10px;
}
.playlist-img-wrap{
  background-color: #000000;
  margin: 20px;
  width: 150px;
  height: 150px;
  position: relative;
}
.playlist-img-wrap p{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #ffffff;
  font-size: 18px;
}
.playlist-img-wrap img{
  display: block;
  opacity: 0.7;
}
#playlists{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.delete-playlist{
  position: absolute;
  right: 0;
  bottom: -25px;
}
#map{
  height: 60vh;
}
@media screen and (min-width: 481px) {
  body{
    width: 100%;
    margin: 0;
  }
  .albums{
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: 200px;
  }
  .card{
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px #ccc;
    height: 200px;
    text-align: center;
    margin: 0px 30px 30px 30px;
    position: relative;
  }
  .thumbnail{
    border-radius: 20px;
    background: #000;
    width: 100%;
  }
  .thumbimg{
    display: block;
    opacity: .8;
    width:100%;
    height:200px;
    border-radius:20px;
  }
  .popup-inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    max-width: 700px;
    padding: 30px;
    background-color: #ffffff;
    z-index: 2;
    overflow-y: scroll;
  }
  #playlists{
    display: flex;
    justify-content: center;
  }
}
