// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.look_comments{
  cursor: pointer;
}
.comments{
  background-color: #f0f2f5;
  border-radius: 15px;
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}
.commenter{
  font-weight: bold;
  flex-basis: 30%;
}
.comment-delete{
  margin-top: 15px;
  margin-left: 10px;
  flex-basis: 5%;
}
.comment-date{
  padding-left: 15px;
  font-size: 12px;
}
.comment_form_text{
  font-size: 13px;
  border-radius: 15px;
  border: 0;
  background-color: #f0f2f5;
  height: 30px;
  width: 80%;
  outline: none;
  &:focus{
    box-shadow: 0 0 0 1px blue;
  }
}
.comment_form_submit{
  float: right;
  margin-top: 5px;
}

@media screen and (max-width: 481px) {
  .favorite{
    span{
      font-size: 20px !important;
    }
  }
  .comment{
    span{
      font-size: 20px !important;
    }
  }
}
