audio{
    width: 100px;
}
#volume-up-icon{
    margin-top: 35vh;
}
#top-page-audio{
    position: absolute;
    left: 20px;
    bottom: 10px;
}
#loading{
    transition: all 1s;
}
.bg-orange-gradation{
    background: linear-gradient(270deg, #FF9B25 32.29%, #FFCF44 100%);
}
.h-60vh{
    height: 60vh;
}
.font-serif-sc{
    font-family: "Noto Serif SC", serif;
}
.font-noto-sans-jp{
    font-family: 'Noto Sans JP', sans-serif;
}
.font-noto-sans-jp-bold{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}
.catch-copy{
    top: 20vh;
    left: 5vw;
}
.description{
    top: 33vh;
    left: 8vw
}
.index-page-preview{
    width: 40%;
    right: 15vw;
    top: 43vh;
}
.button-use-memopic{
    border-color: #FFA500;
    background: #FFA500;
}
@media screen and (min-width: 481px) {
    .index-page-preview{
        right: 10vw;
    }
    audio{
        width: 273px; // これが max
    }
}
@media screen and (min-width: 1024px) {
    .catch-copy{
        left: 10vw;
    }
    .description{
        left: 15vw;
        top: 43vh;
    }
    .index-page-preview{
        top: 40vh;
        right: 10vw;
    }
}
@media screen and (min-width: 2000px){
    .index-page-preview{
        width: 30%;
    }
}
